.button {
    width: fit-content;
    border: 1px solid #8b8787;
    box-shadow: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px 20px;
    color: hsl(240, 100%, 98%);
    max-width: 120px;
}

.button:hover {
    cursor: pointer;
    background-color: hsl(160, 51%, 16%);
}

.button:active {
    background-color: hsl(160, 51%, 9%);
}

.mute {
    opacity: 0.5;
    pointer-events: none;
}