.container {
    width: 100%;
}

.button {
    background-color: hsl(161, 51%, 57%);
    border-radius: 5px;
    border: 3px solid black;
    padding: 20px 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
    width: 100%;
}

.button:hover {
    background-color: hsl(161, 51%, 45%);
}

.button:active {
    background-color: hsl(161, 51%, 38%);
}

.loading {
    opacity: 0.7;
    cursor: default;
}

.loader {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    border-top: 2px solid #FFF;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}