.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 8px;
    white-space: pre-wrap;
}

.container textarea {
    box-shadow: 2px -3px hsl(148, 70%, 60%);
    display: block;
    box-sizing: border-box;
    height: 180px;
    border-radius: 10px;
    padding: 18px;
    font-size: 1rem;
    background-color: transparent;
    max-width: 328px;
    min-width: 328px;
}

.container textarea:focus {
    outline: none;
    border: 3px solid hsl(160, 51%, 32%);
}

@media (max-width: 600px) {
    .container {
        width: 300px;
    }

    .container textarea {
        min-width: 298px;
        max-width: 298px;
    }
}