.subInfo {
    font-size: small;
    line-height: 0.5rem;
    font-style: normal;
}

.container {
    margin: 20px 0px;
    padding: 14px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 330px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    white-space: pre-wrap;
    position: relative;
}

.playButton {
    position: absolute;
    top: -25px;
    right: -25px;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
    border: 1.5px solid #ccc;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.isReply {
    border-top: 5px solid hsl(240, 100%, 96%);
    margin-left: 20px;
    width: 290px;
}

.singularButton {
    justify-content: flex-end;
    margin-bottom: 10px;
}

.container .textarea {
    border-radius: 10px;
    padding: 18px;
    font-size: 1rem;
    background-color: transparent;
    min-height: 210px;
    min-width: 261px;
    max-width: 261px;
}

.container textarea:focus {
    outline: none;
    border: 1px solid hsl(160, 51%, 32%);
}

.hasMusic {
    border: 2px solid hsl(160, 51%, 32%);
    animation: blinkColor 1.5s infinite;
}

@keyframes blinkColor {
    0% {
        border-color: hsl(160, 51%, 32%);
    }
    50% {
        border-color: hsl(160, 100%, 66%);
    }
    100% {
        border-color: hsl(160, 51%, 32%);
    }
}

@media (max-width: 600px) {
    .container {
        width: 300px;
    }
    .isReply {
        width: 260px;
    }
    .container .textarea {
        min-width: 234px;
        max-width: 234px;
    }
}