@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

html {
    /* overflow: hidden; */
}

body {
    position: relative;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(0, 0%, 0%);
    min-height: 95vh;
    color: hsl(240, 100%, 98%);
}

textarea, input {
    font-family: 'Manrope', sans-serif;
    caret-color: hsl(240, 100%, 98%);
    color:hsl(240, 100%, 98%);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 22%);
    border-radius: 2px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
